.bgg {
  background-image: url("./assets/kimson-doan-AZMmUy2qL6A-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.bttn {
  position: sticky;
  bottom: 0;
}

.box {
  background: #eeeeee;
  margin-left: 15%;
  margin-right: 15%;
  height: calc(90% - 60px);
  width: 70%;
  overflow: auto;
}

.imgback {
  background-image: url("./assets/priscilla-du-preez-DLuorYRjxJw-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 60px);
}

.imgbackSignIn {
  background-image: url("./assets/loginP.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 60px);
}

.mg {
  margin-top: 20%;
}

.start {
  justify-content: flex-start !important;
}

.end {
  margin-right: 5% !important;
  justify-content: flex-end !important;
}

.mmg {
  left: 30% !important;
  top: 5% !important;
}

.create {
  color: white;
  background-color: #0ca47e;
}

.replay {
  color: white;
  background-color: #2e373e;
}

.cardG {
  width: 14rem;
  cursor: pointer;
}

.userGroup {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  height: 50vh;
}
.selectedUsers{
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  width: 100%;
}

.cardG:hover {
  background-color: #eee;
}

.main {
  width: 30%;
  margin-left: 30%;
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  .imgback {
    height: 50vh !important;
  }

  .imgbackSignIn {
    height: 50vh !important;
  }

  .start {
    margin-right: 5% !important;
  }

  .end {
    justify-content: flex-start !important;
  }
}